* {
    margin:0;
    padding: 0;
}
/* ------------------------------------------Header------------------------------------------------  */
.logomenu img {
   position: relative;
   left: 50px;
   height: 80px;
}



.logomenu {
    flex: 1;
    display: flex;
    align-items: center;
}
#menu_nav nav {
    display: flex;
}
#menu_nav ul {
    display: flex;
    align-items: center;
    color: white;
}
#menu_nav ul li button:hover {
    cursor: pointer;
    background-color: rgb(117, 117, 117);
    color: white ;
}


#menu_nav ul a {
    text-decoration: none;
    color: white;
}

.border {
    position: relative;
    right: 9px;
    border-right: 1px solid white;
    height: 80px;
}

#menu_nav ul li {
    margin-right: 20px;
    list-style: none;
}
#menu_nav {
    display: flex;
    width: 100%;
    height: 10vh;
    background:linear-gradient(360deg, #FF6633, #F53E2D);
}
/* ------------------------------------------Header fim------------------------------------------------  */


#area_carrosel {
    display: flex;
    width: 100%;
    height: 700px;
    justify-content: center;
}

#Carrosel {
    display: flex;
    height: 100%;
}

#Carrosel img {
    height: 700px;
}

.shop_carrinho svg:hover {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/assets/image/cart-fill.svg);
}

#login_areass {
    color: white;
}